# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
*.venv
.env

# Dependency directories
pip-wheel-metadata/
*.egg-info/
dist/
build/

# IDE settings
.vscode/
.idea/

# Logs
logs/
*.log
